* {
    color-scheme: dark;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-width: 45px;
    max-width: 900px;
    min-height: 45px;
    position: relative;
    cursor: grab;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    user-select: none;
}

.block .fields {
    background-color: #00000060;
    width: 100%;
    height: 100%;
    flex: 1 1 auto; 
    display: flex;
    justify-content: left;
}

.block .fields .field {
    padding: 0.25em;
    width: calc(100% - 0.5em) !important;
}

.block span {
    flex: 0 0 auto;
}

.block:active {
    cursor: grabbing;
}

.block:hover {
    border: 1px solid #ffffff;
}

.block:hover::after {
    content: "";
    position: absolute;
    background-color: #00000030;
    width: 15px;
    height: 15px;
    bottom: -1px;
    right: -1px;
    cursor: e-resize;
    background-image: url(./assets/icons/resize.png);
    background-size: 100%;
}

.block:hover::after {
    display: none;
}

.class-title {
    padding: 0px;
    margin: 0px;
}

.field p {
    margin: 0px;
    padding: 0px;
}

.field-contains-block {
    min-height: max-content !important;
}

.field-contains-block {
    display: none;
}

.fields input {
    background-color: transparent;
    width: 20px;
}

.grid {
    background-image: radial-gradient(circle, #e0e0e0 0.5px, transparent 1px);
    background-size: 45px 45px;
    background-position: 22.5px 22.5px;
    background-attachment: local;
}

.highlighted {
    border: 2px dashed #ffffff;
    padding: calc(0.25em - 2px) !important;
}

.image-label {
    display: flex;
    justify-content: center;
}

.img-button-toggle {
    display: flex;
    align-items: center;
    width: fit-content;
    user-select: none;
    cursor: pointer;
}

.in-field {
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
}

.in-field p {
    color: #ffffff !important;
}

input {
    border-radius: 5px;
    border: none;
    padding: 0.25em;
}

main {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.25em;
}

.menu-container {
    background-color: #404040;
    border-right: 1px solid #000000;
    height: 100vh;
    width: 200px;
    overflow-y: scroll;
}

nav {
    display: flex;
    background-color: #151515;
    border-bottom: 1px solid #000000;
    gap: 2em;
    padding: 0em 0.25em;
    justify-content: space-between;
}

nav div {
    display: flex;
}

nav p {
    margin: 0px;
    pad: 0px;
}

.nocolor {
    background-color: #a0a0a0 !important;
}

.onelined {
    display: flex;
}

#block-container {
    background-color: #202020;
    width: calc(100vw - 200px);
    height: calc(100vh - 25px);
    overflow: scroll;
    position: relative;
}

#block-palette {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#terminal-container {
    background-color: #6e6e6e;
    width: 300px;
    height: 300px;
}
